<!-- <div class="container row align-items-center">
  <div class="container__input col-auto my-3">
    <input type="text" name="searchtask" class="form-control">
  </div>
  <div class="col-auto">
    <button type="submit">Buscar tarea</button>
  </div>
  <div class="container__list-tasks">
    <ul>
        <ng container *ngFor="let task of tasks">
         <li *ngFor="let task of tasks">Mi tarea</li> -->
<!-- <li *ngFor="let task of tasks">{{task.description}} </li>
        <li>
          <p></p>
        </li>
      </ng>
      </ul>
  </div>
</div> -->

<div class="container">
  <div class="todo_app">
    <!-- <div class="todo_app-search-container mb-2">
      <input type="text" class="form-control me-2" placeholder="Find task..." [(ngModel)]="find"  />
    </div> -->
    <div class="todo_app-create-task-action mt-2">
      <button class="btn btn-search w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Create task</button>
      <!-- <button class="btn btn-danger w-100" (click)="hideFormToCreateTask()" [hidden]="showForm">Cerrar</button> -->
      <modal-create-task (sendEventToCreateTask)="takeEventFromModal($event)"
        (sendEventToUpdateTask)="updateEvent($event)" [selectionTask]="taskName"></modal-create-task>
    </div>
    <div class="todo_app-list-task mt-2">
      <task-list [taskList]="tasks" (taskDeleteEvent)="deleteEvent($event)" (sendEventTask)="onTaskSelected($event)" >
      </task-list>
    </div>
  </div>
</div>
