/* You can add global styles to this file, and also import other style files */
body {
  background: #20002c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,#cbb4d4,#20002c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,#cbb4d4,#20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-container {
  height: 300px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;     /* Tamaño del scroll en vertical */
  height: 12px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

#btn-search {
  background-color:adjust-hue($color: #581a96, $degrees: -10);
  color: whitesmoke;
}

#btn-update {
  background-color:adjust-hue($color: #581a96, $degrees: 30);
  color: whitesmoke;
}
#btn-delete {
  background-color:adjust-hue($color: #581a96, $degrees: -30);
  color: whitesmoke;
}
